#loading-overlay {
    position: fixed;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 9998;
    display: none;
    background-color: rgba(255,255,255,0.5);
}
.loading-icon {
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 50%;
    text-align: center;
}

.loading-icon div {
    margin: 0 auto !important;
}

.position-fixed {
    position: fixed;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/*.form-control {
    border-width: 0;
    box-shadow: none;
    border-radius: 0;
}*/

.treatment {
    outline: 0;
    padding-left: 0;
    padding-right: 0;
}

.treatment:before {
    display: block;
    content: ' ';
    width: 100%;
    height: 5px;
    margin-bottom: 2px;
}

.treatment.secondary:before {
    margin-left: 27%;
    width: 73%;
}

.treatment .panel {
    border: 0;
    border-radius: 0;
}

.treatment .panel-heading {
    background-image: none;
    background-color: #fff;
    padding-top: 1px;
    padding-bottom: 0;
    font-weight: bold;
}

.treatment .panel-heading > .row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.treatment.closed .panel-heading {
    background-color: #f0f0f0;
}

.treatment .panel-heading .btn {
    font-weight: bold;
    text-shadow: none;
    text-align: left;
}

.treatment .btn-default {
    background: 0;
    box-shadow: none;
    display: block;
    border-color: #ddd;
}

.treatment .heading-label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
}

.treatment .btn-icon {
    display: inline-block;
}

.treatment .treatment-user {
    margin-left: 10px;
}

.treatment .list-group-item {
    border: 0;
    padding: 5px 15px;
}

.treatment .form-group {
    margin-bottom: 7px;
}

.treatment .list-group {
    box-shadow: none;
}

.treatment .form-control {
    border-color: #efefef;
}

.icon-dropdown {
    display: inline-block;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.treatment .achilles-icon {
    width: 34px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
}

.treatment .achilles-icon:active {
    box-shadow: none;
}

.achilles-medication,
.achilles-medication:active {
    background-image: url('../images/icons/medi.png');
}

.achilles-medication.empty,
.achilles-medication.empty:active {
    background-image: url('../images/icons/medi_g.png');
}

.achilles-laboratory,
.achilles-laboratory:active {
    background-image: url('../images/icons/labor.png');
}

.achilles-laboratory.empty,
.achilles-laboratory.empty:active {
    background-image: url('../images/icons/labor_g.png');
}

.achilles-document,
.achilles-document:active {
    background-image: url('../images/icons/dokumente.png');
}

.achilles-document.empty,
.achilles-document.empty:active {
    background-image: url('../images/icons/dokumente_g.png');
}

.achilles-auf,
.achilles-auf:active {
    background-image: url('../images/icons/auf.png');
}

.achilles-auf.empty,
.achilles-auf.empty:active {
    background-image: url('../images/icons/auf_g.png');
}

.achilles-biometric,
.achilles-biometric:active {
    background-image: url('../images/icons/biodaten.png');
}

.achilles-biometric.empty,
.achilles-biometric.empty:active {
    background-image: url('../images/icons/biodaten_g.png');
}

.achilles-benefit,
.achilles-benefit:active {
    background-image: url('../images/icons/leistung.png');
}

.achilles-benefit.empty,
.achilles-benefit.empty:active {
    background-image: url('../images/icons/leistung_g.png');
}