.position-fixed {
    position: fixed;
}

/*.form-control {
    border-width: 0;
    box-shadow: none;
    border-radius: 0;
}*/

.treatment:before {
    display: block;
    content: ' ';
    width: 100%;
    height: 5px;
    background-color: #e1ee7e;
    margin-bottom: 2px;
}

.treatment.secondary:before {
    margin-left: 27%;
    width: 73%;
}

.treatment .panel {
    border: 0;
    border-radius: 0;
}

.treatment .panel-heading {
    background-image: none;
    background-color: #fff;
    padding-top: 1px;
    padding-bottom: 0;
    font-weight: bold;
}

.treatment .panel-heading > .row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.treatment.closed .panel-heading {
    background-color: #e6e6e6;
}

.treatment .panel-heading .btn {
    font-weight: bold;
    text-shadow: none;
    text-align: left;
}

.treatment .btn-default {
    background: 0;
    box-shadow: none;
    display: block;
    border-color: #ddd;
}

.treatment .heading-label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
}

.treatment .btn-icon {
    display: inline-block;
}

.treatment .treatment-user {
    margin-left: 10px;
}

.treatment .list-group-item {
    border: 0;
    padding: 5px 15px;
}

.treatment .form-group {
    margin-bottom: 7px;
}

.treatment .list-group {
    box-shadow: none;
}

.treatment .form-control {
    border-color: #efefef;
}

.icon-dropdown {
    display: inline-block;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}