<div class="col-xs-12 treatment mandator-::{{treatment.mandator}}"
     ng-class="::{secondary: !treatment.isMainTreatment, closed: treatment.closed || treatment.billed}" tabindex="-1">
<div class="panel" ng-class="::treatment.type=='success' ? 'panel-success' : 'panel-default'">
<div class="panel-heading clearfix">
<div class="row">
<div class="col-xs-4">
    <div class="dropdown icon-dropdown" toggle-focus dropdown>
        <!--
        TODO: change the fixed timezone here to a dynamic one once the backend supports this (4D doesn't yet)
        -->
        <span class="heading-label" ng-show="::treatment.isMainTreatment ">{{::treatment.date | date:'EEE dd.MM.yyyy HH:mm':'UTC'}}</span>
        <a class="btn btn-default btn-icon dropdown-toggle btn-treatment-settings" dropdown-toggle>
            <i class="fa fa-cog"></i>
        </a>
        <ul class="dropdown-menu">
            <li role="presentation"
                ng-if="::(treatment.isMandatorTreatment && !treatment.billed && !treatment.closed && user.mandator.id == treatment.mandator)
                         || (!treatment.isMandatorTreatment && user.token == treatment.userToken)">
                <a role="menuitem"
                   ng-href="{{::dc.baseUrl}}set/treatment/{{::treatment.id}}">Behandlung
                    einstellen</a>
            </li>
            <li role="presentation"
                ng-if="::(treatment.isMandatorTreatment && !treatment.hasLaboratory && !treatment.hasDocument && !treatment.hasDisability
                    && !treatment.hasBiometric && !treatment.hasService && !treatment.hasMedication && user.mandator.id == treatment.mandator)
                    || (!treatment.isMandatorTreatment && user.token == treatment.userToken)">
                <a role="menuitem" href
                   ng-click="dc.deleteTreatment(treatment, treatments)">Behandlung
                    löschen</a>
            </li>
            <li role="presentation"
                ng-if="::(treatment.isMandatorTreatment && user.mandator.id == treatment.mandator && !treatment.hasService && !treatment.billed)
                    || (!treatment.isMandatorTreatment && user.token == treatment.userToken)">
                <a role="menuitem" href
                   ng-click="dc.changeStatus(treatment)">Behandlung <span
                        ng-hide="treatment.closed">schliessen</span>
                    <span ng-show="treatment.closed">wieder öffnen</span></a>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" href
                                       ng-click="dc.addTreatment(treatment, true, true, treatments)">Neue
                Behandlung</a>
            </li>
            <li role="presentation" ng-if="::treatment.isMandatorTreatment"><a role="menuitem" href
                                                                             ng-click="dc.copyTreatment(treatment, treatments)">Neue
                Behandlung (Kopie)</a></li>
            <li role="presentation"><a role="menuitem" href
                                       ng-click="dc.addTreatment(treatment, true, false, treatments)">Neue
                Nebenbehandlung</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" ng-if="::!user.isMandator"><a role="menuitem" href
                                                                ng-click="dc.addTreatment(treatment, false, true, treatments)">Neue
                Nichtmandanten-Behandlung</a>
            </li>
            <li role="presentation" ng-if="::!user.isMandator"><a role="menuitem" href
                                                                ng-click="dc.addTreatment(treatment, false, false, treatments)">Neue
                Nichtmandanten-Nebenbehandlung</a>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation">
                <a href role="menuitem" ng-click="dc.createPreset(treatment)">Neue Struktur</a>
                <a href role="menuitem" ng-click="dc.replacePreset(treatment)">Struktur ersetzen</a>
            </li>
        </ul>
    </div>
</div>


<div class="col-xs-1">
    <span class="heading-label treatment-user">{{::treatment.userToken}}</span>
</div>


<div class="col-xs-2">
    <!--<a class="btn btn-default dropdown-toggle">&nbsp;</a>-->
    <div class="dropdown" toggle-focus dropdown ng-show="::!user.isMandator || user.mandator.id == treatment.mandator">
        <a class="btn btn-default dropdown-toggle" dropdown-toggle>
            {{ treatment.subject }} &nbsp;
        </a>
        <ul class="dropdown-menu">
            <li ng-repeat="subject in dc.subjects">
                <a href ng-click="dc.changeSubject(treatment, subject)">{{::subject}}</a>
            </li>
        </ul>
    </div>
    <div ng-hide="::!user.isMandator || user.mandator.id == treatment.mandator">
        <a class="btn btn-default">{{ treatment.subject }} &nbsp;</a>
    </div>
</div>


<div class="col-xs-2">
    <div class="dropdown" toggle-focus dropdown>
        <a class="btn btn-default dropdown-toggle" dropdown-toggle>
            F: {{treatment.invoiceCase.name ? treatment.invoiceCase.name : '???' }}
        </a>
        <ul class="dropdown-menu">
            <li ng-show="treatment.invoiceCase.name"><a
                    ng-href="{{dc.baseUrl}}show/case/{{treatment.invoiceCase.id}}/">Fall:
                {{treatment.invoiceCase.name}} anzeigen</a></li>
            <li ng-show="treatment.invoice.id"><a
                    ng-href="{{dc.baseUrl}}show/invoice/{{treatment.invoice.id}}/">Rechnung:
                {{treatment.invoice.id}} anzeigen</a></li>
            <li role="presentation" class="divider"
                ng-show="treatment.invoice.id || treatment.invoiceCase.name"></li>
            <li ng-if="treatment.mandator == user.mandator.id && !treatment.billed && !treatment.closed"><a
                    ng-href="{{dc.baseUrl}}treatment/{{treatment.id}}/case/">Fall zuweisen...</a></li>
            <li ng-show="treatment.invoiceCase.name"
                ng-if="treatment.mandator == user.mandator.id && !treatment.billed && !treatment.closed
                && !treatment.hasService && treatment.invoiceCase.id"><a href ng-click="dc.removeCase(treatment)">Ohne
                Fall</a></li>
            <li role="presentation" class="divider"></li>
            <li><a ng-href="{{::dc.baseUrl}}goto/case">Gehe zu Fälle & Garanten</a></li>
        </ul>
    </div>
</div>

<div class="col-xs-3 treatment-relations" ng-show="::treatment.isMandatorTreatment">
    <div class="pull-right">
        <div cass="row">
            <div class="dropdowns col-md-6 col-sm-12">
                <div class="dropdown icon-dropdown" toggle-focus dropdown>
                    <a class="btn dropdown-toggle achilles-icon achilles-medication"
                       ng-class="::{'empty': !treatment.hasMedication}" dropdown-toggle>
                        &nbsp;
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href>Medikamente</a></li>
                        <li role="presentation" class="divider"></li>
                        <li ng-if="::!treatment.billed && !treatment.closed && treatment.mandator == user.mandator.id">
                            <a ng-href="{{::dc.baseUrl}}treatment/{{::treatment.id}}/drug/given/">Abgeben</a>
                        </li>
                        <li ng-if="::treatment.mandator == user.mandator.id">
                            <a ng-href="{{::dc.baseUrl}}treatment/{{::treatment.id}}/drug/prescription/">Rezept</a>
                        </li>
                        <li ng-if="::treatment.mandator == user.mandator.id">
                            <a ng-href="{{::dc.baseUrl}}treatment/{{::treatment.id}}/drug/foreign/">Fremd</a></li>
                        <li role="presentation" class="divider"></li>
                        <li>
                            <a ng-href="{{::dc.baseUrl}}goto/drug/">Gehe zu Medi-Listen</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown icon-dropdown" dropdown toggle-focus
                     on-toggle="dc.loadLaboratoryReports(open)">
                    <a class="btn dropdown-toggle achilles-icon achilles-laboratory"
                       ng-class="::{'empty': !treatment.hasLaboratory}" dropdown-toggle>
                        &nbsp;
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href>Labor-Resultate</a></li>
                        <li role="presentation" class="divider" ng-show="dc.laboratoryReports.length"></li>
                        <li ng-repeat="laboratoryReport in dc.laboratoryReports"><a
                                ng-href="{{::dc.baseUrl}}set/laboratory/{{::laboratoryReport.id}}/">{{::laboratoryReport.name}}</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li><a ng-href="{{::dc.baseUrl}}goto/laboratory/">Gehe zu Labor</a></li>
                    </ul>
                </div>
                <div class="dropdown icon-dropdown" dropdown toggle-focus on-toggle="dc.loadDocuments(open)">
                    <a class="btn dropdown-toggle achilles-icon achilles-document"
                       ng-class="::{'empty': !treatment.hasDocument}" dropdown-toggle>
                        &nbsp;
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href>Briefe & Dokumente</a></li>
                        <li role="presentation" class="divider" ng-show="dc.documents.length"></li>
                        <li ng-repeat="document in dc.documents"><a
                                ng-href="{{::dc.baseUrl}}set/document/{{::document.id}}/">{{::document.name}}</a></li>
                        <li role="presentation" class="divider"></li>
                        <li ng-if="::treatment.mandator == user.mandator.id">
                            <a ng-href="{{::dc.baseUrl}}treatment/{{::treatment.id}}/document/letterto/">Neuer Brief
                                an</a>
                        </li>
                        <li ng-if="::treatment.mandator == user.mandator.id">
                            <a ng-href="{{::dc.baseUrl}}treatment/{{::treatment.id}}/document/letterfrom/">Neuer
                                Brief von</a>
                        </li>
                        <li ng-if="::treatment.mandator == user.mandator.id">
                            <a ng-href="{{::dc.baseUrl}}treatment/{{::treatment.id}}/document/document/">Neues
                                Dokument</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li><a ng-href="{{::dc.baseUrl}}goto/document/">Gehe zu Briefe & Dokumente</a></li>
                    </ul>
                </div>
            </div>
            <div class="dropdowns col-md-6 col-sm-12">
                <div class="dropdown icon-dropdown" dropdown toggle-focus
                     on-toggle="treatment.mandator == user.mandator.id && dc.loadDisability(open)">
                    <a class="btn dropdown-toggle achilles-icon achilles-auf"
                       ng-class="::{'empty': !treatment.hasDisability}" dropdown-toggle>
                        &nbsp;
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" ng-if="::treatment.mandator == user.mandator.id">
                        <li><a href>Arbeitsunfähigkeit</a></li>
                        <li role="presentation" class="divider" ng-show="::dc.disabilityCertificates.length"></li>
                        <li ng-repeat="disabilityCertificate in dc.disabilityCertificates">
                            <a ng-href="{{::dc.baseUrl}}set/disability/{{::disabilityCertificate.id}}/">{{::disabilityCertificate.name}}</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li><a ng-href="{{::dc.baseUrl}}treatment/{{::treatment.id}}/disability/">Neue
                            Arbeitsunfähigkeit</a></li>
                    </ul>
                </div>
                <div class="dropdown icon-dropdown" dropdown toggle-focus on-toggle="dc.loadBiometrics(open)">
                    <a class="btn dropdown-toggle achilles-icon achilles-biometric"
                       ng-class="::{'empty': !treatment.hasBiometric}" dropdown-toggle>
                        &nbsp;
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href>Biometrische Daten</a></li>
                        <li role="presentation" class="divider" ng-show="dc.biometrics.length"></li>
                        <li ng-repeat="biometric in dc.biometrics"><a
                                ng-href="{{::dc.baseUrl}}set/biometric/{{::biometric.id}}/">{{::biometric.name}}</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li ng-if="treatment.mandator == user.mandator.id && !treatment.billed">
                            <a ng-href="{{::dc.baseUrl}}treatment/{{::treatment.id}}/biometric/">Neue Biometrische
                                Daten</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li><a ng-href="{{::dc.baseUrl}}goto/biometric/">Gehe zu Biometrische Daten</a></li>
                    </ul>
                </div>
                <div class="dropdown icon-dropdown" toggle-focus dropdown>
                    <a class="btn dropdown-toggle achilles-icon achilles-benefit"
                       ng-class="::{'empty': !treatment.hasService}" dropdown-toggle>
                        &nbsp;
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href>Leistungen</a></li>
                        <li role="presentation" class="divider"></li>
                        <li ng-if="::treatment.mandator == user.mandator.id && !treatment.billed && treatment.invoiceCase.id">
                            <a ng-href="{{::dc.baseUrl}}treatment/{{::treatment.id}}/service/treatment/">Neue
                                Leistungen zu Behandlung</a>
                        </li>
                        <li ng-if="::treatment.mandator == user.mandator.id && !treatment.billed && treatment.invoiceCase.id">
                            <a ng-href="{{::dc.baseUrl}}treatment/{{::treatment.id}}/service/generic/">Neue
                                Leistungen</a>
                        </li>
                        <li ng-if="::treatment.mandator != user.mandator.id || treatment.billed">
                            <a ng-href="{{::dc.baseUrl}}show/service/{{::treatment.id}}/">Leistungen zeigen</a>
                        </li>

                        <li role="presentation" class="divider"></li>
                        <li><a ng-href="{{::dc.baseUrl}}goto/invoice/">Gehe zu Rechnungen</a></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>
</div>
</div>
<div class="panel-body">
    <ul class="list-group">
        <treatment-entry entry="entry" editable="{{::editable}}" treatment="treatment"
                         ng-repeat="entry in treatment.entries | orderBy:'type.name'"
                         permission-to-edit="dc.permissionToEdit"
                         warning="dc.warning">
        </treatment-entry>
        <li class="list-group-item type-and-preset" type-and-preset
            ng-show="(treatment.focused || treatment.new) && dc.permissionToEdit">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input class="form-control type-and-preset-search" placeholder="Neuer Behandlungstitel (F9)"
                               ng-model="search.term">
                    </div>
                    <div class="row list-group-row">
                        <div class="col-xs-12">
                            <div class="type-and-preset-list" ng-show="active">
                                <div class="list-group">
                                    <h5 class="list-group-item entry-type">Behandlungstitel</h5>
                                    <a tabindex href
                                       ng-click="dc.addEntry(treatment.id, type, treatment.entries); search.term=''"
                                       ng-repeat="type in dc.types | filter:search.term"
                                       class="list-group-item entry-type"
                                            ng-class="::'level-' + (type.level ? type.level : '1' ) ">
                                        {{::type.name}}
                                    </a>
                                    <hr>
                                    <h5 class="list-group-item preset">Strukturen</h5>
                                    <a tabindex href
                                       class="list-group-item preset"
                                       ng-click="dc.addPreset(treatment.id, preset, treatments); search.term=''"
                                       ng-repeat="preset in dc.presets | filter:search.term">
                                        {{::preset.name}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <!--<li class="list-group-item"-->
        <!--ng-show="(treatment.focused || select2Open || treatment.new) && dc.permissionToEdit">-->
        <!--<div class="row">-->
        <!--<div class="col-xs-12 type-select">-->
        <!--<select2 placeholder="Neuer Behandlungstitel (F9)"-->
        <!--class="form-control"-->
        <!--ng-change="dc.addEntry(treatment.id, dc.newEntry.type, treatment.entries); dc.newEntry = {}"-->
        <!--ng-model="dc.newEntry.type"-->
        <!--ng-options="type as type.name group by type.name.substr(0,1) for type in dc.types track by type.id"></select2>-->
        <!--</div>-->
        <!--</div>-->
        <!--</li>-->
    </ul>
</div>
</div>
</div>