<div class="advanced-search-widget achilles-widget" ng-show="dc.isVisible()" ng-cloak draggable
     draggable-handle=".panel-heading">
    <div class="panel panel-default">
        <div class="panel-heading">
            Erweiterte Suche
            <div class="btn-group widget-controls">
                <a class="btn confirm-widget" ng-click="dc.showWidget(false)">&nbsp;</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Volltextsuche</label>
                        <input ng-model="search.text"
                               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                               class="form-control">
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">Datum von</label>

                                <div class="input-group">
                                    <input datepicker-popup="dd.MM.yyyy" is-open="dc.fromOpened"
                                           ng-model="search.dateFrom"
                                           class="form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="dc.openFromDatepicker($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">Datum bis</label>

                                <div class="input-group">

                                    <input ng-model="search.dateTo" datepicker-popup="dd.MM.yyyy" is-open="dc.toOpened"
                                           class="form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="dc.openToDatepicker($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <hr>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Nur Einträge mit</label>


                        <div class="row">
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <input type="checkbox" id="medi-list-checkbox"
                                           ng-model="search.attachments.medication">
                                    <label for="medi-list-checkbox">
                                        Medi-Listen
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="laboratory-checkbox"
                                           ng-model="search.attachments.laboratory">
                                    <label for="laboratory-checkbox">
                                        Labor
                                    </label>
                                </div>


                            </div>
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <input type="checkbox" id="service-checkbox"
                                           ng-model="search.attachments.service">
                                    <label for="service-checkbox">
                                        Leistungen
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="biometric-checkbox"
                                           ng-model="search.attachments.biometric">
                                    <label for="biometric-checkbox">
                                        Biometrische Daten
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">


                                <div class="checkbox">
                                    <input type="checkbox" id="document-checkbox"
                                           ng-model="search.attachments.document">
                                    <label for="document-checkbox">
                                        Briefe & Dokumente
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="disability-checkbox"
                                           ng-model="search.attachments.disability">
                                    <label for="disability-checkbox">
                                        Arbeitsunfähigkeit
                                    </label>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Nach Betreff</label>
                        <select ng-model="search.subject" class="form-control"
                                ng-options="subject for subject in dc.subjects"></select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Nach Fall</label>
                        <select ng-model="search.case" class="form-control"
                                ng-options="case as case.name for case in dc.cases"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Nach Titel</label>
                        <select ng-model="search.title" class="form-control"
                                ng-options="title as title.name for title in dc.titles"></select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Nach Mandant</label>
                        <select ng-model="search.user" class="form-control"
                                ng-options="user for user in dc.users"></select>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right">
                        <div class="btn-group">
                            <a href class="btn btn-danger" ng-click="dc.clearSearch(search)"><i
                                    class="fa fa-remove"></i> Zurücksetzen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>