<div class="advanced-search-widget achilles-widget" ng-show="dc.isVisible()" ng-cloak draggable draggable-handle=".panel-heading">
    <div class="panel panel-default">
        <div class="panel-heading">
            Erweiterte Suche
            <div class="btn-group widget-controls">
                <a class="btn confirm-widget" ng-click="dc.showWidget(false)">&nbsp;</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label">Volltextsuche</label>
                <input ng-model="search.text" ng-model-options="{updateOn: 'blur'}" class="form-control">
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">Datum von</label>
                        <input ng-model="search.dateFrom" ng-model-options="{updateOn: 'blur'}" class="form-control">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">Datum bis</label>
                        <input ng-model="search.dateTo" ng-model-options="{updateOn: 'blur'}" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>