<div class="panel panel-default">


    <div class="toolbar-wrapper">
        <div class="toolbar" ng-class="'mandator-' + vm.user.mandator.id + '-toolbar'" ng-cloak>
            <div class="row">
                <div class="col-xs-12"><p><strong>Medikamentenplan</strong></p></div>
                <div class="col-xs-12">
                    <div class="btn-group pull-right">
                        <a class="btn btn-default btn-xs treatment-report"
                           tooltip="{{ 'NEW_TREATMENT_TODAY_TOOLTIP' | translate}}" tooltip-placement="bottom"
                           ng-click="toolbar.addTreatment(vm.treatments)">&nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <small>
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th><input class="checkbox" type="checkbox" value=""></th>
            <th>Medikament</th>
            <th>Dosierung und Einnahme</th>
            <th>Von Bis</th>
            <th>Art der Medikation</th>
            <th>Indikation</th>
            <th>Verordnet</th>
            <th>Verabreichung</th>
            <th></th>
        </tr>
        </thead>
        <tbody ng-repeat="medication in vm.medicationList">
            <tr>
            <!--<tr>-->
                <td><input class="checkbox" type="checkbox" value=""></td>
                <td>
                    <div>{{medication.name}}</div>
                    <div><small>{{medication.substance}}</small></div>
                </td>
                <td>
                    <div>{{medication.dosage}}</div>
                    <div><small>{{medication.intake}}</small></div>
                </td>
                <td>{{medication.duration}}</td>
                <td>{{medication.type}}</td>
                <td>{{medication.indication}}</td>
                <td>{{medication.who}}</td>
                <td>
                    <div>{{medication.giving}}</div>
                    <div><small>{{medication.valid}}</small></div>
                </td>
                <td ng-click="goCat = !goCat">
                    <i ng-show="medication.history.length > 0" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': goCat, 'glyphicon-chevron-left': !goCat}"></i>
                </td>
            </tr>

            <tr ng-show="goCat">
                <td colspan="9">
                        <table class="table table-hover table-condensed">
                            <tr ng-repeat="history in medication.history">
                                <td></td>
                                <td>
                                    <div>{{medication.name}}</div>
                                    <div><small>{{medication.substance}}</small></div>
                                </td>
                                <td>
                                    <div>{{medication.dosage}}</div>
                                    <div><small>{{medication.intake}}</small></div>
                                </td>
                                <td>{{medication.duration}}</td>
                                <td>{{medication.type}}</td>
                                <td>{{medication.indication}}</td>
                                <td>{{medication.who}}</td>
                                <td>
                                    <div>{{medication.giving}}</div>
                                    <div><small>{{medication.valid}}</small></div>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                </td>
            </tr>
        </tbody>
    </table>
    </small>
</div>