<div class="preset-widget achilles-widget" ng-show="dc.isVisible() " ng-cloak draggable
     draggable-handle=".panel-heading">
    <div class="panel panel-default">
        <div class="panel-heading">
            Name
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label">
                    Name
                </label>
                <input type="text" class="form-control" ng-model="name">
            </div>
            <div class="btn-group">
                <a href class="btn btn-default">Ok</a>
            </div>
        </div>
    </div>
</div>