<div class="title-settings-widget achilles-widget" ng-show="dc.isVisible()" ng-cloak draggable draggable-handle=".panel-heading">
    <div class="panel panel-default">
        <div class="panel-heading">
            Titel anzeigen
            <div class="btn-group widget-controls">
                <!--<a class="btn btn-danger close-widget" ng-click="dc.showWidget(false)"><i class="fa fa-close"></i></a>-->
                <a class="btn confirm-widget" ng-click="dc.showWidget(false)">&nbsp;</a>
            </div>
        </div>
        <div class="panel-body">
            <p>Alt + Klick: Alle anderen an- / abwählen</p>
            <a href class="btn btn-default" ng-click="dc.changeAll(dc.entryTypes, true)">Alle</a>
            <a href class="btn btn-default" ng-click="dc.changeAll(dc.entryTypes, false)">Keine</a>
        </div>

        <div class="list-group">
            <a class="list-group-item" ng-click="dc.changeTypeStatus(type, undefined, $event)" ng-repeat="type in dc.entryTypes | orderBy:'name'" href>
                <span class="checkmark"><i class="fa fa-check" ng-hide="type.hidden">&nbsp;</i></span> {{type.name}}
            </a>
        </div>

    </div>
</div>