<div class="col-xs-12 treatment">
    <div class="panel" ng-class="treatment.type=='success' ? 'panel-success' : 'panel-default'">
        <div class="panel-heading">
            <h4 class="row">
                <div class="col-xs-3" dropdown>
                    <a class="btn btn-default dropdown-toggle" dropdown-toggle id="dropdown-{{$index}}">{{treatment.date
                        | date:'EEE dd.MM.yyyy HH:mm'}}</a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdown-{{index}}">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href
                                                   ng-click="addTreatment(treatments)">Neue Behandlung</a>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href
                                                   ng-click="copyTreatment(treatment, treatments)">Neue
                            Behandlung (Kopie)</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href
                                                   ng-click="deleteTreatment(treatment, treatments)">Löschen</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-1">
                    <a class="btn btn-default dropdown-toggle">{{treatment.user}}</a>
                </div>
                <div class="col-xs-2">
                    <a class="btn btn-default dropdown-toggle">&nbsp;</a>
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-default dropdown-toggle">F:{{treatment.case}}</a>
                </div>

                <div class="col-xs-3">
                    <div class="pull-right">
                        <div class="dropdown icon-dropdown" dropdown>
                            <a class="btn btn-default dropdown-toggle" dropdown-toggle>
                                <i class="fa fa-medkit"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href>Medikamente</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a href>Abgeben</a></li>
                                <li><a href>Rezept</a></li>
                                <li><a href>Fremd</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a href>Zu Medi-Listen</a></li>
                            </ul>
                        </div>
                        <div class="dropdown icon-dropdown" dropdown>
                            <a class="btn btn-default dropdown-toggle" dropdown-toggle>
                                <i class="fa fa-line-chart"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href>Labor-Resultate</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a href>Gehe zu Labor</a></li>
                            </ul>
                        </div>
                        <div class="dropdown icon-dropdown" dropdown>
                            <a class="btn btn-default dropdown-toggle" dropdown-toggle>
                                <i class="fa fa-file-text-o"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href>Briefe & Dokumente</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a href>25.03.15 123</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a href>Neuer Brief an</a></li>
                                <li><a href>Neuer Brief von</a></li>
                                <li><a href>Neues Dokument</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a href>Gehe zu Briefe & Dokumente</a></li>
                            </ul>
                        </div>
                        <div class="dropdown icon-dropdown" dropdown>
                            <a class="btn btn-default dropdown-toggle" dropdown-toggle>
                                <i class="fa fa-line-chart"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href>Arbeitsunfähigkeit</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a href>Neue Arbeitsunfähigkeit</a></li>
                            </ul>
                        </div>
                        <div class="dropdown icon-dropdown" dropdown>
                            <a class="btn btn-default dropdown-toggle" dropdown-toggle>
                                <i class="fa fa-line-chart"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href>Biomertrische Daten</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a href>Neue Biometrische Daten</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a href>Gehe zu Biometrische Daten</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </h4>
        </div>
        <div class="panel-body">
            <div class="btn-group margin-bottom-10">
                <a class="btn btn-default" ng-click="addAttribute(treatment, 'first')">+</a>
            </div>
            <ul class="list-group">
                <treatment-entry entry="entry" ng-repeat="entry in treatment.entries | orderBy:'type.name'">
                </treatment-entry>
            </ul>
            <div class="btn-group">
                <a class="btn btn-default" ng-click="addAttribute(treatment)">+</a>
            </div>
        </div>
    </div>
</div>