<li class="list-group-item">
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-2">
            <div class="form-group">
                <span>{{entry.type.name}}</span>
            </div>
            <!--<treatment-type entry="entry"></treatment-type>-->
        </div>
        <div class="col-xs-8 col-sm-9 col-lg-10">
            <form name="entryform">
                <div class="row" treatment-row ng-repeat="row in entry.rows | orderBy:'id'" ng-class="{locked: row.locked}" ng-hide="row.deleted">
                    <span class="label locked-warning" ng-class="'mandator-' + row.lockedBy.id + '-warning'" ng-show="row.locked">Gesperrt von {{row.lockedBy.name}}</span>

                    <treatment-column ng-repeat="column in row.columns" content="column.content"
                                      width="{{column.width}}" unique-id="{{row.id}}-{{$index}}"
                                      editable="{{editable}}" treatment-id="{{treatmentId}}"
                                      readonly="{{column.readonly}}" parent="entry" row="row"></treatment-column>
                </div>
            </form>
        </div>
    </div>
</li>