<div class="toolbar-wrapper" ng-show="vm.treatments.length">
    <div class="toolbar" ng-class="'mandator-' + vm.user.mandator.id + '-toolbar'" ng-cloak>
        <div class="row">
            <div class="col-xs-3">
                <p ng-show="vm.treatments.length">Behandlungseinträge</p>
            </div>
            <div class="col-xs-2">
                <p ng-show="vm.treatments.length"
                   ng-bind="vm.treatments.length + ' von ' + vm.treatments.length"></p>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <input class="form-control" ng-model="vm.search" placeholder="Suche">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="btn-toolbar pull-right">
                    <div class="dropdown icon-dropdown" toggle-focus dropdown>

                        <div class="btn-group">
                            <a ng-if="vm.user.hasGDTDevice" class="btn btn-default btn-xs gdt dropdown-toggle"
                               dropdown-toggle>&nbsp;</a>

                            <a class="btn btn-default btn-xs new-treatment" title="Neue Behandlung"
                               ng-click="dc.addTreatment(vm.treatments)">&nbsp;</a>
                            <a class="btn btn-default btn-xs new-treatment-dialog" title=""
                               href="{{vm.baseUrl}}treatment/">
                                &nbsp;</a>
                            <a class="btn btn-default btn-xs biometric-report"
                               ng-click="dc.openBiometricReport(vm.process)">&nbsp;</a>
                            <a class="btn btn-default btn-xs laboratory-report"
                               ng-click="dc.openLaboratoryReport(vm.process)">&nbsp;</a>
                            <a class="btn btn-default btn-xs treatment-report"
                               ng-click="dc.openTreatmentReport(vm.process, vm.treatments)">&nbsp;</a>
                            <a class="btn btn-default btn-xs search"
                               ng-click="dc.asteriskSearch(vm.treatments)">&nbsp;</a>
                            <a class="btn btn-default btn-xs sort"
                               ng-click="vm.reverse=!vm.reverse">&nbsp;</a>
                        </div>

                        <div class="btn-group">
                            <a class="btn btn-default btn-xs appointment" href="{{vm.baseUrl}}appointment/">
                                &nbsp;</a>
                            <a class="btn btn-default btn-xs recall" href="{{vm.baseUrl}}recall/">&nbsp;</a>
                            <a class="btn btn-default btn-xs todo" href="{{vm.baseUrl}}todo/">&nbsp;</a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default btn-xs refresh" ng-click="vm.loadEntries()">&nbsp;</a>
                        </div>
                        <ul class="dropdown-menu gdt-list">
                            <li ng-repeat-start="device in dc.gdtDevices"><a href
                                                                             ng-click="dc.executeGDT(device, vm.patient)"><strong>{{device.name}}</strong></a>
                            </li>
                            <li ng-repeat="test in device.gdtTests"><a href
                                                                       ng-click="dc.executeGDT(device, vm.patient, test)">{{test.name}}</a>
                            </li>
                            <li ng-repeat-end class="divider"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group pull-right">
                    <div class="dropdown" toggle-focus dropdown>

                        <a class="btn btn-default btn-xs dropdown-toggle" dropdown-toggle><i class="fa fa-cogs"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a ng-click="marginSetting='large-margins'" href><span class="checkmark"><i
                                    class="fa fa-check" ng-show="marginSetting=='large-margins'">&nbsp;</i></span>
                                Grosse Abstände</a></li>
                            <li><a ng-click="marginSetting='small-margins'" href><span class="checkmark"><i
                                    class="fa fa-check" ng-show="marginSetting=='small-margins' || !marginSetting">
                                &nbsp;</i></span> Kleine Abstände</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a ng-click="fontSetting='small-fonts'" href><span class="checkmark"><i
                                    class="fa fa-check" ng-show="fontSetting=='small-fonts'">&nbsp;</i></span>
                                Kleine Schrift</a></li>
                            <li><a ng-click="fontSetting='medium-fonts'" href><span class="checkmark"><i
                                    class="fa fa-check" ng-show="fontSetting=='medium-fonts' || !fontSetting">
                                &nbsp;</i></span> Mittlere Schrift</a></li>
                            <li><a ng-click="fontSetting='large-fonts'" href><span class="checkmark"><i
                                    class="fa fa-check" ng-show="fontSetting=='large-fonts'">&nbsp;</i></span>
                                Grosse Schrift</a></li>
                            <li class="divider"></li>
                            <li><a ng-click="vm.showTitleSettingsWidget=true">Titel zeigen</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>