<li class="list-group-item treatment-entry" ng-hide="dc.isHidden(entry.type)">
    <div class="entry-toolbar" ng-show="entry.focused && entry.type.hasTextBlock">
        <div class="row">
            <div class="col-xs-24">
                <div class="btn-group"><a href class="btn btn-default"
                                          ng-click="dc.showTextBlockWidget(true, entry.type)"><i
                        class="fa fa-list-alt"></i></a></div>
            </div>
        </div>
    </div>
    <div class="editor-toolbar" ng-show="entry.focused && entry.showToolbar">
        <div class="row">
            <div class="col-xs-24">
                <text-angular-toolbar name="toolbar-{{entry.treatmentId}}-{{entry.type.id}}"></text-angular-toolbar>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-24">
            <div class="form-group">
                <span class="entry-type-name">{{entry.type.name}}</span>
            </div>
            <!--<treatment-type entry="entry"></treatment-type>-->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-24">
            <form name="entryform">
                <div ng-repeat="row in entry.rows | orderBy:'id'"
                     class="treatment-row">

                    <div
                            context-menu
                            data-target="menu-{{ row.id }}"
                            ng-class="{ 'highlight': highlight, 'expanded' : expanded }"
                            keyboard-focus focusable=".catalog-entry"
                            active="{{dc.catalog.entries.length && dc.catalog.id == row.id && dc.showCatalog}}"
                            class="row" treatment-row
                            ng-class="{locked: row.locked}" ng-hide="row.deleted">
                    <span class="label locked-warning" ng-class="'mandator-' + row.lockedBy.id + '-warning'"
                          ng-show="row.locked">Gesperrt von {{row.lockedBy.name}}</span>
                        <treatment-column ng-repeat="column in row.columns"
                                          column="column"
                                          width="{{column.width}}"
                                          editable="{{editable === 'true' && !column.readonly}}" treatment="treatment"
                                          warning="warning"
                                          type="entry.type" entry="entry"
                                          readonly="column.readonly || !permissionToEdit()"
                                          row="row"></treatment-column>
                        <div class="catalog-list"
                             ng-if="dc.catalog.entries.length && dc.catalog.id == row.id && dc.showCatalog">
                            <div class="list-group">
                                <a class="list-group-item catalog-entry"
                                   href ng-click="dc.chooseCatalogEntry(catalogEntry, row, entry)"
                                   ng-repeat="catalogEntry in dc.catalog.entries"
                                        >
                                    <div class="row">
                                        <div ng-repeat="column in catalogEntry.cols"
                                             ng-class="::'col-xs-' + column.width "
                                             ng-bind-html="::column.trustedContent"></div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="dropdown position-fixed context-menu" id="menu-{{ row.id }}">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a class="pointer" role="menuitem" tabindex="1"
                                   ng-click="dc.removeRow(row, entry, treatment.entries);">
                                    {{'DELETE_ROW' | translate}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </form>
        </div>
    </div>
    </div>
</li>
