<div class="col-xs-12 treatment" ng-class="{secondary: !treatment.isMainTreatment, closed: treatment.closed}" tabindex="-1">
    <div class="panel" ng-class="treatment.type=='success' ? 'panel-success' : 'panel-default'">
        <div class="panel-heading clearfix">
            <div class="row">
                <div class="col-xs-3">
                    <div class="dropdown icon-dropdown" dropdown>
                        <a class="btn btn-default btn-icon dropdown-toggle" dropdown-toggle id="dropdown-{{$index}}">
                            <i class="fa fa-cog"></i>
                        </a>
                        <span class="heading-label" ng-show="treatment.isMainTreatment ">{{treatment.date | date:'EEE dd.MM.yyyy HH:mm'}}</span>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-{{index}}">
                            <li role="presentation"><a role="menuitem" tabindex="-1"
                                                       ng-href="{{baseUrl}}set/treatment/{{treatment.id}}">Behandlung einstellen</a>
                            </li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href
                                                       ng-click="dc.deleteTreatment(treatment, treatments)">Behandlung
                                löschen</a>
                            </li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href
                                                       ng-click="dc.changeStatus(treatment)">Behandlung <span
                                    ng-hide="treatment.closed">schliessen</span>
                                <span ng-show="treatment.closed">wieder öffnen</span></a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href
                                                       ng-click="dc.addTreatment(treatment, true, true, treatments)">Neue
                                Behandlung</a>
                            </li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href
                                                       ng-click="dc.copyTreatment(treatment, treatments)">Neue
                                Behandlung (Kopie)</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href
                                                       ng-click="dc.addTreatment(treatment, true, false, treatments)">Neue
                                Nebenbehandlung</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href
                                                       ng-click="dc.addTreatment(treatment, false, true, treatments)">Neue
                                Nichtmandanten-Behandlung</a>
                            </li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href
                                                       ng-click="dc.addTreatment(treatment, false, false, treatments)">Neue
                                Nichtmandanten-Nebenbehandlung</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-xs-1">
                    <span class="heading-label treatment-user">{{treatment.user}}</span>
                </div>


                <div class="col-xs-2">
                    <!--<a class="btn btn-default dropdown-toggle">&nbsp;</a>-->
                    <div class="dropdown" dropdown>
                        <a class="btn btn-default dropdown-toggle" dropdown-toggle>
                            {{ treatment.subject }} &nbsp;
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" ng-repeat="subject in dc.subjects">
                                <a role="menuitem" tabindex="-1" href
                                                       ng-click="dc.changeSubject(treatment, subject)">{{subject}}</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-xs-3">
                    <a class="btn btn-default dropdown-toggle">F:{{treatment.case}}</a>
                </div>

                <div class="col-xs-3">
                    <div class="pull-right">
                        <div class="dropdown icon-dropdown" dropdown>
                            <a class="btn dropdown-toggle achilles-icon achilles-medication" dropdown-toggle>
                                &nbsp;
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href>Medikamente</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a ng-href="{{baseUrl}}treatment/{{treatment.id}}/drug/given/">Abgeben</a></li>
                                <li><a ng-href="{{baseUrl}}treatment/{{treatment.id}}/drug/prescription/">Rezept</a></li>
                                <li><a ng-href="{{baseUrl}}treatment/{{treatment.id}}/drug/foreign/">Fremd</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a ng-href="{{baseUrl}}goto/drug/">Gehe zu Medi-Listen</a></li>
                            </ul>
                        </div>
                        <div class="dropdown icon-dropdown" dropdown>
                            <a class="btn dropdown-toggle achilles-icon achilles-laboratory" dropdown-toggle>
                                &nbsp;
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href>Labor-Resultate</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a ng-href="{{baseUrl}}goto/laboratory/">Gehe zu Labor</a></li>
                            </ul>
                        </div>
                        <div class="dropdown icon-dropdown" dropdown>
                            <a class="btn dropdown-toggle achilles-icon achilles-document" dropdown-toggle>
                                &nbsp;
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href>Briefe & Dokumente</a></li>
                                <li role="presentation" class="divider"></li>
                                <li ng-repeat="document in dc.documents"><a href>{{document.name}}</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a ng-href="{{baseUrl}}treatment/{{treatment.id}}/document/letterto/">Neuer Brief an</a></li>
                                <li><a ng-href="{{baseUrl}}treatment/{{treatment.id}}/document/letterfrom/">Neuer Brief von</a></li>
                                <li><a ng-href="{{baseUrl}}treatment/{{treatment.id}}/document/document/">Neues Dokument</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a ng-href="{{baseUrl}}goto/document/">Gehe zu Briefe & Dokumente</a></li>
                            </ul>
                        </div>
                        <div class="dropdown icon-dropdown" dropdown>
                            <a class="btn dropdown-toggle achilles-icon achilles-auf" dropdown-toggle>
                                &nbsp;
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href>Arbeitsunfähigkeit</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a ng-href="{{baseUrl}}treatment/{{treatment.id}}/disability/">Neue Arbeitsunfähigkeit</a></li>
                            </ul>
                        </div>
                        <div class="dropdown icon-dropdown" dropdown>
                            <a class="btn dropdown-toggle achilles-icon achilles-biometric" dropdown-toggle>
                                &nbsp;
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href>Biomertrische Daten</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a ng-href="{{baseUrl}}treatment/{{treatment.id}}/biometric/">Neue Biometrische Daten</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a ng-href="{{baseUrl}}goto/biometric/">Gehe zu Biometrische Daten</a></li>
                            </ul>
                        </div>
                        <div class="dropdown icon-dropdown" dropdown>
                            <a class="btn dropdown-toggle achilles-icon achilles-benefit" dropdown-toggle>
                                &nbsp;
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href>Leistungen</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a ng-href="{{baseUrl}}treatment/{{treatment.id}}/service/treatment/">Neue Leistungen zu Behandlung</a></li>
                                <li><a ng-href="{{baseUrl}}treatment/{{treatment.id}}/service/generic/">Neue Leistungen</a></li>

                                <!-- TODO show 2 Menus above if Treatment is NOT billed, show following Menu if Treatment is billed -->
                                <li><a ng-href="{{baseUrl}}show/service/{{treatment.id}}/">Leistungen zeigen</a></li>

                                <li role="presentation" class="divider"></li>
                                <li><a ng-href="{{baseUrl}}goto/invoice/">Gehe zu Leistungen</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <treatment-entry entry="entry" ng-repeat="entry in treatment.entries | orderBy:'type.name'">
                </treatment-entry>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-9 col-xs-offset-3 type-select">
                            <select2 class="form-control"
                                     ng-change="dc.addEntry(treatment.id, dc.newEntry.type, treatment.entries)"
                                     ng-model="dc.newEntry.type"
                                     ng-options="type as type.name group by type.name.substr(0,1) for type in dc.types track by type.id"></select2>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>