.patient-123 {
    background-color: #123456;
}

.patient-123 {
    background-color: #789ABC;
}

.mandator-0-warning,
.mandator-0-toolbar,
.mandator-0:before {
    background-color: pink;
}

.mandator-2-warning,
.mandator-2-toolbar,
.mandator-2:before {
    background-color: pink;
    color: black;
}